__pycache__/
_d/
_output/
.binder/*.requirements.txt
.cache/
.coverage
.env
.ipynb_checkpoints/
.pabotsuitenames
.venv*/
.yarn-packages/
*.doit.*
*.egg-info
*.log
*.tsbuildinfo
build/
dist/
lib/
node_modules/
