@import url('./button.css');
@import url('./flyout.css');
@import url('./selector.css');
@import url('./slider.css');

:root {
  --jp-deck-tool-icon-size: 2em;
  --jp-deck-tool-padding: 0.25em;
}

.jp-Deck-DesignTools {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  z-index: var(--jp-deck-z-remote);
  padding-right: 1em;
}

.jp-Deck-DesignTools svg {
  width: var(--jp-deck-tool-icon-size);
  height: var(--jp-deck-tool-icon-size);
}

.jp-Deck-DesignTools label {
  color: var(--jp-ui-font-color1);
  display: flex;
  align-items: center;
}

.jp-Deck-DesignTools button {
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.jp-Deck-DesignTools button label {
  cursor: pointer;
}
