@import './slider.css';
@import './selector.css';

:root {
  --jp-deck-icon-size: 32px;
}

.jp-Deck-DesignTools svg {
  width: var(--jp-deck-icon-size);
  height: var(--jp-deck-icon-size);
}

.jp-Deck-DesignTools {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  z-index: var(--jp-deck-z-remote);
}

.jp-Deck-DesignTools label {
  color: var(--jp-ui-font-color1);
  display: flex;
  align-items: center;
}

.jp-Deck-DesignTools button {
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.jp-Deck-DesignTools button label {
  cursor: pointer;
}
