[data-jp-deck-mode='presenting'] {
  background: var(--jp-layout-color0);
}

[data-jp-deck-mode='presenting'] #jp-main-content-panel {
  width: 100vw !important;
  height: 100vh !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
}

[data-jp-deck-mode='presenting'] #jp-menu-panel,
[data-jp-deck-mode='presenting'] #jp-top-panel {
  display: none;
}

[data-jp-deck-mode='presenting'] .jp-SideBar {
  opacity: 0;
  transition: opacity 0.1s;
  z-index: 1;
  background: none;
  border-color: transparent;
}

[data-jp-deck-mode='presenting'] .jp-SideBar.lm-TabBar.jp-mod-left,
[data-jp-deck-mode='presenting'] .jp-SideBar.lm-TabBar.jp-mod-right {
  border-color: transparent;
}

[data-jp-deck-mode='presenting'] .jp-SideBar .lm-TabBar-tab:not(.lm-mod-current) {
  background: unset;
  border-color: transparent;
}

[data-jp-deck-mode='presenting'] #jp-right-stack,
[data-jp-deck-mode='presenting'] #jp-left-stack {
  opacity: 0.25;
  z-index: 1;
  transition: opacity 0.1s;
}

[data-jp-deck-mode='presenting'] .jp-SideBar:hover,
[data-jp-deck-mode='presenting'] #jp-right-stack:hover,
[data-jp-deck-mode='presenting'] #jp-left-stack:hover {
  opacity: 0.9;
  transition: opacity 0.1s;
}

[data-jp-deck-mode='presenting'] #jp-main-dock-panel {
  padding: 0;
}
